<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:name=".BabyTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabyTracker">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BabyTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".tile.FeedTileService"
            android:description="@string/tile_feed_description"
            android:exported="true"
            android:icon="@drawable/ic_qs_feed"
            android:label="@string/tile_feed_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tile.SleepTileService"
            android:description="@string/tile_sleep_description"
            android:exported="true"
            android:icon="@drawable/ic_qs_sleep"
            android:label="@string/tile_sleep_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.BreastfeedingNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.babytracker.BREASTFEEDING_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BreastfeedingActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.babytracker.BREASTFEEDING_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.SleepActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.babytracker.SLEEP_ACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.PredictiveFeedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.babytracker.PREDICTIVE_FEED_FIRE" />
                <action android:name="com.babytracker.PREDICTIVE_FEED_SNOOZE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.NapReminderReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.babytracker.NAP_REMINDER_FIRE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.PredictiveSleepReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.babytracker.PREDICTIVE_SLEEP_FIRE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.StashExpirationReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.StashExpirationBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.babytracker.widget.BabyWidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baby_widget_info" />
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
